// Шрифт
$ff-Rbt: 'Roboto', sans-serif;
$ff-Ico: 'icomoon';

$fw-700: 700;
$fw-400: 400;

$fz-90: 90px;
$fz-50: 50px;
$fz-35: 35px;
$fz-30: 30px;
$fz-27: 27px;
$fz-24: 24px;
$fz-20: 20px;
$fz-16: 16px;
$fz-15: 15px;
$fz-14: 14px;
$fz-13: 13px;
$fz-12: 12px;
$fz-11: 11.2px;

$lh-61: 61px;
$lh-51: 51px;
$lh-45: 45px;
$lh-36: 36px;
$lh-30: 30px;
$lh-25: 25px;
$lh-21: 21px;
$lh-18: 18px;
$lh-15: 15px;
$lh-0: 0;

$ls-100: 1px;
$ls-60: 0.6px;
$ls-40: 0.4px;
$ls-0: 0;

// цвет

$c-1-9b7b62: #9b7b62;
$c-2-615f62: #615f62;
$c-3-d4407f: #d4407f;
$c-4-ededee: #ededee;
$c-5-fff: #fff;
$c-6-656366: #656366;
$c-7-b0afb0: #b0afb0;
$c-8-6e6c6f: #6e6c6f;
$c-9-6f6c6e: #6f6c6e;
$c-10-6f6c6c: #6f6c6c;
$c-11-707070: #707070;
$c-12-9a9a9a: #9a9a9a;
$c-13-3b3b3b: #3b3b3b;
$c-14-7a7777: #7a7777;
$c-15-f3f2f2: #f3f2f2;
$c-16-aaa8aa: #aaa8aa;
$c-17-69727b: #69727b;

